.dashboard {
  text-align: center;
  margin-top: 100px;
}

.dashboard button {
  padding: 12px 18px;
  border: none;
  background: #2d6cdf;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard button:hover {
  background: #1c4bb8;
}
