
body {
    background-color: #f9f7f3;
    font-family: serif;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
}

.navbar {
    border-bottom: 1px solid #e5e5e5;
}

.category-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .category-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 6px;
    }

    .category-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

.category-link p {
    margin-top: 10px;
    font-weight: bold;
    color: #000;
    transition: color 0.3s;
}

.category-link:hover p {
    color: #ff6f61; 
}

footer {
    color: #888;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px 0;
}
